# Data files and directories common in repo root
Dataset/
logs/
*.h5
results/
Movidius/
TF_Model/

OpenImagesDataset/*/*.jpeg
OpenImagesDataset/*.pbtxt
OpenImagesDataset/*/*.csv
!OpenImagesDataset/*/*-filtered-*.csv

temp/
tests/
test*.py
quickTrain

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#PyCharm
.idea/
