# Data files and directories common in repo root
Dataset/
logs/
configs/
*.h5
results/
temp/
test/
quickTrain

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#PyCharm
.idea/
